  <div class="col-sm-12">
    <h1>File Uploader in Angular</h1>

    <hr/>

    <table border="0" width="1000">
      <tr>
        <td width="35%"> &nbsp; </td>
        <td width="30%">
          <table cellpadding="10">
            <tr>
              <td>
                <button type="button" class="btn btn-primary" (click)="fileInput.click()">
                  <span class="glyphicon glyphicon-open-file" title="Выбрать файл(ы)"></span>
                </button>
                &nbsp;
                <input class="form-control d-none" type="file" (change)="selectFiles($event)" multiple #fileInput/>
              </td>
              <!--        <td>-->
              <!--          <p class="text-info" *ngIf="message"><strong>{{message}}</strong></p>-->
              <!--        </td>-->
            </tr>
          </table>
        </td>
        <td width="35%"> &nbsp; </td>
      </tr>
      <tr>
        <td colspan="3">
          <table border="0" cellpadding="5" cellspacing="5" width="100%">
            <thead>
            <tr>
              <th align="center">Name</th>
              <th align="center">Size</th>
              <th align="center">Progress</th>
              <th align="center">Status</th>
              <th align="center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td colspan="3"><hr></td>
            </tr>
            <tr *ngFor="let item of items">
              <td>{{item.file.name}}</td>
              <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <td>
                <div class="progress" style="margin-bottom: 10px" *ngIf="item.uploadProgress">
                  <div class="progress-bar progress-bar-striped progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" naria-valuemax="100" [ngStyle]="{'width': item.uploadProgress }"></div>
                </div>
              </td>
              <td>
                <p class="text-info" *ngIf="item.uploadStatus"><strong>{{item.uploadStatus}}</strong></p>
              </td>
              <td>
                &nbsp;
                <button type="button" class="btn btn-success" (click)="uploadFile(item)">
                  <span class="glyphicon glyphicon-upload" title="Выгрузить файл"></span>
                </button>
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="removeFile(item)">
                  <span class="glyphicon glyphicon-trash" title="Выгрузить файл"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
</div>
